@import "/src/styles/variables";

.comment {
  background-color: $white;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
  border-radius: 10px;
  margin-block-end: 15px;

  &:last-child {
    margin-block-end: 0;
  }

  &__replies {
    position: relative;
    padding-inline-start: 34px;

    &::before {
      content: "";
      display: block;
      inline-size: 4px;
      block-size: 100%;
      background-image: linear-gradient(to right, hsl(228deg, 33%, 97%), hsl(223deg 11% 91%));
      position: absolute;
      inset-inline-start: 15px;
      border-radius: 5px;
    }
  }

  @media screen and (min-width: 700px) {
    flex-direction: row;
    padding: 25px;
  }
}